@import './Home.scss';

.balances {
    @include indexCard();
    width: calc(25% - 1.6rem);
    height: 38rem;
    padding: 3rem;
    font-family: 'Poppins';

    &__title {
        font-weight: 400;
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }

    &__amount {
        &__top {
            .currency {
                font-size: 2.4rem;
                color: $Theme-Color-Blue;
            }

            font-size: 1.6rem;
            font-weight: 400;
        }

        &__bottom {
            font-size: 3.6rem;
            color: $Theme-Color-Blue;
            font-weight: 700;
        }
    }

    &__img {
        display: flex;
        justify-content: center;
        width: 100%;

        img {
            display: block;
            max-width: 23rem;
        }
    }
}