@import './Home.scss';
.tabcard{
    border-radius: $Card-Boder-radius;
    background-color: $Theme-White;
    padding:2rem;
    font-family: 'Gilroy';
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .blue {
        color: $Theme-Color-Blue;
    }
    .green{
        color: $Theme-Color-Green;
    }
    &__img{
        display: block;
        max-width: 23rem;
        margin: 0 auto;
    }
    &__title{
        font-size: 3.6rem;
        font-weight: 400;
    }
    &__large{
        font-size: 6rem;
        font-weight: 500;
    }
    &__medium{
        font-size: 2.4rem;
        font-weight: 400;
    }
    &__small{
        font-size: 1.6rem;
        font-weight: 300;
    }
    &__date {
        color: $Date-Text-Color;
    }
    &__tabs{
        position: absolute;
        top: 3rem;
        right: 4.2rem;
        display: flex;
        gap: 0.5rem;
        &__tab{
            cursor: pointer;
            font-size: 1.2rem;
            padding: 0.8rem 1.6rem;
            border-radius: 1.2rem;
            border: 1px solid $Search-Placeholder-Color;
            &.active {
                border: none;
                background-color: $Theme-Color-Green;
                color: $Theme-White;
            }
        }
    }
    &__chart {
        position: absolute;
        left: 0;
        right:0;
        bottom: 0;
        top: 26%;
        font-size: 8rem;////
        border-bottom-left-radius: $Card-Boder-radius;
        border-bottom-right-radius: $Card-Boder-radius;
        background-color: ghostwhite;
    }
}
