@import '../../../Variable.scss';

@mixin indexCard {
    background-color: $Theme-White;
    border-radius: 1.6rem;
}

.home {
    .row {
        margin-bottom: 3.2rem;
    }

    .top {
        .orders {
            display: flex;
            justify-content: space-between;
        }
    }

    .middle {
        display: flex;
        justify-content: space-between;
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        &.row {
            margin-bottom: 0;
        }
    }
}