@import '../../../../Variable.scss';

.notifs {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &__wrapper {
        position: relative;
        width: 2.4rem;
        height: 2.4rem;

        &__active-icon {
            width: .8rem;
            height: .8rem;
            background-color: $Notifs-active-Dot-Color;
            border-radius: 50%;
            position: absolute;
            top: .2rem;
            right: .2rem;
        }
    }

    &.dashboard {
        width: 4.8rem;
        height: 4.8rem;
        background-color: $Theme-White;
        border-radius: .8rem;
    }

}