.ant-table-wrapper {
    // display: flexbox;
    background: #FFFFFF;
    border-radius: 12px;
    margin-top: 20px;
}


.ant-spin-container {
    width: 100%;
    margin: 0 auto;
    padding: 1.9rem 2.4rem;
}

.user__avatar img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
}

.ant-table-wrapper .ant-table-thead>tr>th,
.ant-table-wrapper .ant-table-thead>tr>td {
    border-bottom: none;
    height: 4.7rem;
    background: #EFF0F4;
    border: none
}


.ant-table-wrapper .ant-table-tbody>tr>td,
.ant-table-wrapper tfoot>tr>th,
.ant-table-wrapper tfoot>tr>td {
    padding: 8px 8px;
}