@import '../../Variable.scss';

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 7.2rem 0rem;
        width: 100rem;
        height: 60rem;
        background: $Theme-White;
        /* Colors/Primary White */
        border-radius: 1.6rem;

        &__left {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 50rem;
            height: 45.6rem;
        }

        &__right {
            box-sizing: border-box;
            /* Auto layout */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0rem 3.2rem;
            width: 50rem;
            height: 45.6rem;
            border-left: 0.1rem solid $Boder-Left-Color;
            position: relative;

            .logo {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1.2rem;
                width: 8.2rem;
                height: 11.3rem;

                &__img {
                    width: 7.2rem;
                    height: 7.2rem;
                    border-radius: 1.2rem;
                }

                &__text {
                    width: 8.2rem;
                    height: 2.9rem;
                    font-family: 'Gilroy';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 2.4rem;
                    line-height: 2.9rem;
                    /* identical to box height */
                    letter-spacing: 0.016em;
                    /* Stroke 2nd */
                    color: $Text-Login-Logo;
                }
            }


        }
    }

    &__input {
        padding-bottom: 0.6rem;
        width: 32.8rem;
        height: 5.8rem;
        margin-bottom: 4rem;


        .ant-form-item-no-colon {
            font-family: 'Poppins';
            font-weight: 500;
            line-height: 1.8rem;
            letter-spacing: 0.05rem;
        }

        &__field {
            padding: 0.8rem 1.6rem;
            height: 4rem;
            border: 0.1rem solid $Boder-Input-Color;
            border-radius: 0.6rem;
        }


    }

    &__btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1rem 3.2rem;
        color: $Theme-White;
        width: 32.8rem;
        height: 3.5rem;
        background: $Theme-Color-Blue;
        border-radius: 0.6rem;
        margin-top: 3rem;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 1.6rem;
    }

    &__error {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: $Bg-Error-Login-Color;
        width: 32.8rem;
        height: 3.5rem;
        border-radius: 0.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 1.6rem;
        color: $Text-Color-DarkGrey;
    }
}