.e-avatar{
    width:4.8rem;
    height:4.8rem;
    background:#00FF7F;
    border-radius:50%;
    color:white;
    font-size:5.5rem;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    font-weight:600;
}