@import 'Variable';

@font-face {
    font-family: "Gilroy";
    src: url("./assets/fonts/Gilroy/Gilroy-SemiBold.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Gilroy";
    src: url("./assets/fonts/Gilroy/Gilroy-Bold.ttf");
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: url(/src/assets/image/back.png);
    background-color: #EFF3FD;
    background-size: cover;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    color: $Text-Color-Dark;
}


ul {
    list-style-type: none;
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

#root {
    width: 100%;
}