$Theme-Primary: #E5E5E5;
$Theme-White: #FFFFFF;
$Theme-Dark: #000000;
$Theme-Color-Blue: #5A55D2;
$Theme-Color-White: #EFF0F4;
$Theme-Color-Green: #00DEA3;
$Text-Color-Dark: #00140E;
$Text-Color-Red: #FF0000;
$Text-Color-DarkGrey: #333333;
$Text-Color-Green: $Theme-Color-Green;
$Text-Color-While: $Theme-Color-White;
$Text-Color-BlueDark: #192A3E;
$Text-Color-BlueLight: #90A0B7;
$Icon-Color-Dark: #231F20;
$Icon-Color-Violet: #783EFD;

//login-size
$Input-Text-Color: #343C44;
$Boder-Left-Color: rgba(26, 30, 41, 0.12);
$Boder-Input-Color: #D6E4EC;
$Text-Login-Logo: #1A1E29;
$Bg-Error-Login-Color: #EB9393;
//html-font-size=10px
$Text-Font-size-Biggest: 2.4rem;
$Text-Font-size-large: 2.1rem;
$Text-Font-size-Medium: 1.6rem;
$Text-Font-size-Small: 1.2rem;
$Text-Font-size-Smallest: 1rem;
// sidebar
$Border-Color: #E4E7ED;
$Sidebar-Shadow-Color: rgba(0, 0, 0, 0.06);
$Date-Text-Color: #707EAE;
$Search-Placeholder-Color: #AEB6CF;
$Notifs-active-Dot-Color: #F23985;

@mixin button-Needed {
    width: 13rem;
    height: 2.8rem;
    background: rgba(36, 193, 143, 0.2);
    border-radius: 1.6rem;
    cursor: pointer;

    &:hover {
        background: rgba(36, 193, 143, 0.6);
    }

    &:focus {
        background: rgba(36, 193, 143);
    }
}

@mixin button-Edit {
    width: 14.4rem;
    height: 4.2rem;
    background: #5F66E9;
    border-radius: 0.6rem;
    cursor: pointer;

    &:hover {
        background: #040ca1;
    }
}

@mixin button-Import {
    width: 8.434rem;
    height: 3.4rem;
    background: $Theme-White;
    border-radius: 0.4rem;
    cursor: pointer;

    &:hover {
        background: $Theme-Dark;
        color: $Theme-White;
    }
}

@mixin sideMenu-Content {
    height: 2.2rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $Text-Color-Dark;
}

@mixin SideMenu-Icon {
    width: 2rem;
    color: $Icon-Color-Dark;
}

@function setWidthColumn($widthwrap, $item) {
    //$widthwrap=>total width row
    //$item=>number of columns
    @return $widthWarp / $item;
}

@function setWidthColumnMargin($widthwrap, $item, $marginColumn) {
    //$widthwrap=>total width row
    //$item=>number of columns
    @return ($widthWarp / $item)-$marginColumn*2;
}